In [1]:
import pandas as pd

In [2]:
delays = pd.read_csv('flights.csv')

delays = delays[[
    'year', ' month', 'airport', 'arr_flights', 'carrier_ct', ' weather_ct', 'nas_ct',
    'security_ct', 'late_aircraft_ct'
]]
delays = delays.rename(index=str, columns={' month': 'month'})

In [3]:
delays['day'] = 1

In [4]:
delays.head()

,year,month,airport,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,day
0,2003,6,ATL,752.0,33.99,27.82,104.76,1.90,17.53,1
1,2003,6,BOS,1266.0,69.43,23.66,83.93,2.25,45.73,1
2,2003,6,BWI,593.0,17.56,20.49,38.26,0.00,24.69,1
3,2003,6,CLT,203.0,16.57,9.72,10.07,1.87,9.76,1
4,2003,6,DCA,947.0,42.88,24.89,52.71,0.08,26.44,1

In [5]:
delays['Date'] = pd.to_datetime(delays[['year', 'month', 'day']])
delays = delays.drop(['year', 'month', 'day'], axis=1)

In [6]:
causes = delays.copy()
for i in range(2, 7):
    causes.iloc[:, i] = 100 * causes.iloc[:, i] / causes['arr_flights']

causes = causes.drop('arr_flights', axis=1)

causes.columns = [
    'Airport', 'Air Carrier Delay', 'Extreme Weather Delay',
    'NAS Delay', 'Security Delay', 'Aircraft Arriving Late', 'Date'
]

causes = causes.melt(
    id_vars=['Date', 'Airport'], var_name='Cause', value_name='Delays (%)')

causes.to_csv('causes1.csv')

In [7]:
causes.head()

        Date Airport              Cause  Delays (%)
0 2003-06-01     ATL  Air Carrier Delay    4.519947
1 2003-06-01     BOS  Air Carrier Delay    5.484202
2 2003-06-01     BWI  Air Carrier Delay    2.961214
3 2003-06-01     CLT  Air Carrier Delay    8.162562
4 2003-06-01     DCA  Air Carrier Delay    4.527983

In [8]:
delays.head()

,airport,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,Date
0,ATL,752.0,33.99,27.82,104.76,1.90,17.53,2003-06-01
1,BOS,1266.0,69.43,23.66,83.93,2.25,45.73,2003-06-01
2,BWI,593.0,17.56,20.49,38.26,0.00,24.69,2003-06-01
3,CLT,203.0,16.57,9.72,10.07,1.87,9.76,2003-06-01
4,DCA,947.0,42.88,24.89,52.71,0.08,26.44,2003-06-01

In [9]:
total = delays.groupby(by='airport').sum().reset_index()

for i in range(2, 7):
    total.iloc[:, i] = 100 * total.iloc[:, i] / total['arr_flights']

total = total.drop('arr_flights', axis=1)

total.columns = [
        'Airport', 'Air Carrier Delay', 'Extreme Weather Delay', 'NAS Delay',
        'Security Delay', 'Aircraft Arriving Late'
    ]

total = total.melt(
        id_vars='Airport', var_name='Cause', value_name='Delays (%)')

total.to_csv('total1.csv')